.banner-movies__container{
    position: relative;
}

.banner-movies{
    height: 200px;
    width: 100%;
    object-fit: cover;
  
    
}


.banner-movies__container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(to top, #0f0f0f, rgba(0,0,0, 0.3));
   }
   